@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300|Vollkorn:400,700");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\000033}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000311}}
.cf:before,
.cf:after {
  content: " ";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000316}}
.cf:after {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000322}}
html {
  font-size: 62.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000325}}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background: url(../img/me-distillery.jpg) no-repeat fixed bottom right;
  background-size: cover;
  /* font-family: 'Vollkorn', serif; */
  font-family: 'Open Sans', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000334}}
header {
  padding: 20px 0 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000337}}
h1 {
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Vollkorn', serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000346}}
h2, h3, h4 {
  /* font-family: 'Open Sans', sans-serif; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000349}}
h2 {
  text-align: center;
  font-size: 2.0rem;
  margin: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000354}}
h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000359}}
  h3 a {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000363}}
ul, ol {
  padding: 0 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000366}}
  ul li, ol li {
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000369}}
  ul img, ol img {
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000373}}
hr {
  border: none;
  border-top: 1px solid #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000377}}
a {
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000380}}
  a:hover {
    color: cornflowerblue; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000384}}
main {
  margin: 0 auto;
  width: 95%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000388}}
pre {
  background: #222;
  padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\0000392}}
  pre code {
    display: block;
    color: #ddd;
    overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003102}}
.posts {
  max-width: 800px;
  /* background: rgba(lavender, 0.8);
  padding: 20px 30px;
  border-radius: 5px;
  min-height: 300px; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003109}}
  .posts h3 {
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003112}}
  .posts h4 {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003118}}
.post-content {
  max-width: 800px;
  background: rgba(230, 230, 250, 0.8);
  padding: 20px 30px;
  border-radius: 5px;
  min-height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003125}}
  .post-content img {
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003133}}
.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003141}}
.grid-cell {
  width: 24.25%;
  background: rgba(230, 230, 250, 0.8);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  padding: 15px 20px 40px;
  line-height: 1.25;
  margin-right: 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003151}}
  .grid-cell:nth-child(4n+4) {
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003154}}
  .grid-cell img {
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003157}}
  .grid-cell p {
    font-size: 1.4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003164}}
.more {
  position: absolute;
  right: 20px;
  bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003173}}
footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: lavender;
  background: rgba(0, 0, 0, 0.5);
  /* max-width: 800px; */
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 5px;
  /* width: 98%; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003184}}
  footer a {
    color: lavender; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003187}}
    footer a:hover {
      color: cornflowerblue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003192}}
  main footer {
    max-width: 1200px; }

@media (max-width: 1100px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003201}}
  .grid-cell {
    width: 32.666666667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003204}}
    .grid-cell:nth-child(3n+3) {
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003207}}
    .grid-cell:nth-child(4n+4) {
      margin-right: 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003210}}
    .grid-cell:nth-child(12n+12) {
      margin-right: 0; } }
@media (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003217}}
  main footer {
    /* width: 100%; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003220}}
  .grid-cell {
    width: 48%;
    /* 	margin-left: 1%;
    margin-right: 1%; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003225}}
    .grid-cell:nth-child(3n+2) {
      /* margin-left: 1%;
      margin-right: 1%; */ } }
@media (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003233}}
  .grid-cell {
    width: 98%;
    /* margin-left: 0; */
    /* margin-right: 0; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christinatruong\/Dropbox\/Sites\/summer-of-me\/css\/main\.scss}line{font-family:\00003238}}
    .grid-cell:nth-child(3n+2) {
      /* margin-left: 0; */
      /* margin-right: 0; */ } }

/*# sourceMappingURL=main.css.map */
