@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300|Vollkorn");
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background: url(../DSC_0073-web.jpg) no-repeat;
  background-size: cover;
  font-family: 'Vollkorn', serif; }

header {
  padding: 20px 0 40px; }

h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1; }

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2.0rem;
  margin: 0px; }

h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 0; }
  h3 a {
    text-decoration: none; }

main {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(230, 230, 250, 0.8);
  padding: 20px 30px;
  border-radius: 5px; }

section {
  border-bottom: 1px solid #333;
  padding: 25px 0; }

hr {
  border: none;
  border-top: 1px solid #333; }

a {
  color: black; }
  a:hover {
    color: cornflowerblue; }

footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: lavender;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 5px; }
  footer a {
    color: lavender; }
    footer a:hover {
      color: cornflowerblue; }
