.day-3 .grayscale {
  -webkit-filter: grayscale(100%); }
.day-3 .sepia {
  -webkit-filter: sepia(100%); }
.day-3 .saturate {
  -webkit-filter: saturate(200%); }
.day-3 .reset {
  -webkit-filter: none; }
