.day-3 img {
  max-width: 100%;
  height: auto; }
.day-3 .grayscale {
  -webkit-filter: grayscale(100%); }
.day-3 .sepia {
  -webkit-filter: sepia(100%); }
.day-3 .saturate {
  -webkit-filter: saturate(200%); }
.day-3 .reset {
  -webkit-filter: none; }

.day-6 {
  height: 200px;
  position: relative; }
  .day-6 * {
    position: absolute; }
  .day-6 .ear {
    background: #a87a58;
    height: 25px;
    width: 24px;
    border-radius: 47%;
    top: 111px; }
    .day-6 .ear.left {
      left: 113px; }
    .day-6 .ear.right {
      left: 231px; }
  .day-6 .face {
    height: 158px;
    width: 99px;
    background: #a87a58;
    border-top-left-radius: 46%;
    border-top-right-radius: 46%;
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;
    -webkit-transform: perspective(180px) rotateX(25deg);
    top: 12px;
    left: 134px; }
  .day-6 .features {
    height: 158px;
    width: 99px;
    top: 30px;
    left: 134px; }
    .day-6 .features .brows:after {
      content: "";
      position: absolute;
      border-top: 3px solid black;
      border-left: 3px solid black;
      border-top-left-radius: 100%; }
    .day-6 .features .brows.left {
      top: 45px;
      left: 14px;
      -webkit-transform: rotate(18deg); }
      .day-6 .features .brows.left:after {
        width: 24px;
        height: 21px; }
    .day-6 .features .brows.right {
      top: 44px;
      right: 18px;
      -webkit-transform: rotate(70deg); }
      .day-6 .features .brows.right:after {
        width: 20px;
        height: 24px; }
    .day-6 .features .eyes {
      background: black;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 45%; }
      .day-6 .features .eyes.left {
        left: 21%; }
      .day-6 .features .eyes.right {
        left: 73%; }
    .day-6 .features .nose {
      display: block;
      width: 26px;
      height: 80px;
      border: 3px solid black;
      border-top: none;
      -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
      border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%; }
  .day-6 .neck {
    background: #a87a58;
    height: 40px;
    width: 72px;
    top: 173px;
    left: 147px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    -webkit-transform: perspective(200px) rotateX(-12deg); }
