		<footer>
			<p>
				© 2014 by &nbsp;<a href="http://christinatruong.com">Christina Truong</a>
				&nbsp;
				<a href="https://github.com/christinatruong/summer-of-me"><i class="fa fa-github-alt"></i></a> 
				&nbsp;
				<a href="https://twitter.com/christinatruong"><i class="fa fa-twitter"></i></a>
			</p>
		</footer>

	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=9878914; 
	var sc_invisible=1; 
	var sc_security="d980f3d8"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="site stats"
	href="http://statcounter.com/" target="_blank"><img
	class="statcounter"
	src="http://c.statcounter.com/9878914/0/d980f3d8/1/"
	alt="site stats"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
	</body>
</html>