<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<!-- <meta name="description" content="{{ site.description }}"> -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/projects.css">
		<link rel="shortcut icon" href="/summer-of-me/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<header>
			<h1>Summer of Me</h1>
			<h2>3 months. 30 minutes. Every day.</h2>
		</header>
